<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
   <Package Name="Alacritty NVDA Windows" UpgradeCode="bb3e7b2c-e23c-459a-8518-440bf3f7e602" Language="1033" Codepage="1252" Version="$(var.ProductVersion)" Manufacturer="MaxLogic" InstallerVersion="200">
      <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
      <Icon Id="AlacrittyIco" SourceFile=".\alacritty\windows\alacritty.ico" />
      <WixVariable Id="WixUILicenseRtf" Value=".\alacritty\windows\wix\license.rtf" />
      <Property Id="ARPPRODUCTICON" Value="AlacrittyIco" />
      <MediaTemplate EmbedCab="yes" />
      <ui:WixUI Id="WixUI_Minimal" />
      <Feature Id="ProductFeature" Title="ConsoleApp" Level="1">
         <ComponentRef Id="AlacrittyExe" />
         <ComponentRef Id="AlacrittyNvdaShortcut" />
         <ComponentRef Id="ModifyPathEnv" />
         <ComponentRef Id="ContextMenu" />
         <ComponentRef Id="ContextMenuFolder" />
      </Feature>
      <!-- Application binaries -->
      <DirectoryRef Id="AlacrittyNvdaProgramFiles">
         <Component Id="AlacrittyExe">
            <File Id="AlacrittyExeFile" Source=".\target\release\alacritty.exe" Name="alacritty.exe" KeyPath="yes" />
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="AlacrittyNvdaProgramMenu">
         <!-- Application shortcut -->
         <Component Id="AlacrittyNvdaShortcut" Guid="17bc0e57-c9af-4089-a075-88bccb3b5381">
            <Shortcut Id="AlacrittyNvdaShortcutFile" Name="Alacritty NVDA Windows" Description="Alacritty fork with Windows UIA support for NVDA" Target="[AlacrittyNvdaProgramFiles]alacritty.exe" />
            <RemoveFolder Id="AlacrittyNvdaProgramMenu" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Microsoft\AlacrittyNVDAWindows" Name="installed" Type="integer" Value="1" KeyPath="yes" />
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="AlacrittyNvdaProgramFiles">
         <!-- Add to PATH -->
         <Component Id="ModifyPathEnv" Guid="d123fc17-fa68-4967-9184-85959ea7173c" KeyPath="yes">
            <Environment Id="PathEnv" Value="[AlacrittyNvdaProgramFiles]" Name="PATH" Permanent="no" Part="first" Action="set" System="yes" />
         </Component>
      </DirectoryRef>
      <StandardDirectory Id="ProgramFiles64Folder">
         <Directory Id="AlacrittyNvdaProgramFiles" Name="Alacritty NVDA Windows" />
      </StandardDirectory>
      <StandardDirectory Id="ProgramMenuFolder">
         <Directory Id="AlacrittyNvdaProgramMenu" Name="Alacritty NVDA Windows" />
      </StandardDirectory>
      <!-- Add context menu -->
      <Component Id="ContextMenu" Guid="4c089f5a-fee2-4c4f-a54a-eab16377ec24" Directory="TARGETDIR">
         <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open Alacritty NVDA here\command">
            <RegistryValue Type="string" Value='[AlacrittyNvdaProgramFiles]alacritty.exe --working-directory "%v"' KeyPath="yes" />
         </RegistryKey>
         <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open Alacritty NVDA here">
            <RegistryValue Type="string" Name="Icon" Value="[AlacrittyNvdaProgramFiles]alacritty.exe" />
         </RegistryKey>
      </Component>
      <Component Id="ContextMenuFolder" Guid="b4f30667-2dea-4c73-82c9-8589c38127e0" Directory="TARGETDIR">
         <RegistryKey Root="HKCU" Key="Software\Classes\Directory\shell\Open Alacritty NVDA here\command">
            <RegistryValue Type="string" Value='[AlacrittyNvdaProgramFiles]alacritty.exe --working-directory "%v"' KeyPath="yes" />
         </RegistryKey>
         <RegistryKey Root="HKCU" Key="Software\Classes\Directory\shell\Open Alacritty NVDA here">
            <RegistryValue Type="string" Name="Icon" Value="[AlacrittyNvdaProgramFiles]alacritty.exe" />
         </RegistryKey>
      </Component>
   </Package>
</Wix>
